---
layout: page 
title: News
permalink: /archive/
topnav: true
---

<ul class="post-list">
  {% for post in site.posts %}
    <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="excerpt">{{ post.excerpt }}</span>
        {% if post.excerpt != post.content %}
          <a class="excerpt-continue" href="{{ post.url | prepend: site.baseurl }}">continued …</a>
        {% endif %}
    </li>
  {% endfor %}
</ul>
