<div id="intro">
  <p>Crosstool-NG is a versatile (cross) toolchain generator.
    It supports many architectures and components and has a simple yet powerful
    menuconfig-style interface. Please read the
    <a href="{{ "/docs/introduction/" | prepend: site.baseurl }}">introduction</a>
    and refer to the <a href="{{ "/docs/" | prepend: site.baseurl }}">documentation</a>
    for more information.</p>
  <p><a href="/testimonials/">See</a> what the users of crosstool-NG have to say!</p>
  <p>Latest sources, bugs, questions? Head over to <a href="https://github.com/crosstool-ng/crosstool-ng">Crosstool-NG at GitHub</a>!</p>
</div>
