#intro {
    background-color: #eee;
    border-radius: 6px;
    padding: 20px 40px;
    margin: 0 10px 20px;
}

.ctng {
    font-weight: 400;
}

.excerpt-continue {
    color: #ccc !important;
}

footer a {
    font-weight: 400;
}
