// intro box on home page
#intro {
    background-color: #eee;
    border-radius: 6px;
    padding: 20px 40px;
    margin: 0 10px 20px;
}

.ctng {
    font-weight: 400;
}

.excerpt-continue {
    color: #ccc !important;
}

footer a {
    font-weight: 400;
}

// stuff for 'docs' layout

.docs .back-to-contents {
    color: $grey-color !important;
}

.docs .post-title {
    margin: 20px 0 0;
}

// these list rules were introduced to make 5_Toolchain_Usage look okay
li {
    padding-left: 10px;
}

li > ol, li > ul {
    margin-bottom: 15px;
}

// used as a footnote divider in 6_Toolchain_Types
hr {
    margin: 20px 0 10px;
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
}

strong {
    font-weight: 700;
}
